.edit-task-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.edit-task-container {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .edit-task-page {
    margin: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .edit-task-page {
    margin: 1.5rem;
  }
}