.checkbox-label {
  display: flex;
  gap: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bolder;
}

.completed {
  text-decoration: line-through;
}

.not-completed {
  text-decoration: none;
}

@media screen and (max-width: 769px) {
  .checkbox-label {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .checkbox-label {
    width: 45%;
    font-size: .8rem;
    gap: .2rem;
  }
}