.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
}

.login-form {
  width: 40%;
  gap: .8rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--color-old-lace);
}

.login-form h1 {
  text-align: center;
}

.form-item {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: left;
}

.form-item:last-child {
  margin-top: 2rem;
}

span {
  margin-top: 1rem;
  color: blue;
}

span:hover {
  color: var(--color-magenta);
}

@media screen and (min-width:1440px) {
  .login-container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .login-section h1 {
    font-size: 1.7rem;
    text-align: center;
    width: 80%;
  }

  .login-form {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .login-form {
    width: 60%;
  }
  span {
    font-size: .85rem;
  }
}