.hamburger {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.burger{
  width: 15px;
  height: 5px;
  margin: .05rem;
  background-color: var(--color-black);
}

.hide-nav {
  width: 0;
}

aside {
  display: flex;
  background-color: var(--color-old-lace);
  flex-direction: column;
  height: 80vh;
  width: 200px;
  min-width: 150px;
  overflow: scroll;
}

aside ul, aside .project-list {
  text-align: left;
  padding: .5rem 1rem;
}

aside ul li {
  list-style: none;
  color: var(--color-white);
  padding: 1rem;
}

.toggle-menu {
  display: block;
}

.btn-container {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}