.home-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: var(--desktop-margin);
  overflow: scroll;
  height: 70vh;
}

@media screen and (max-width: 600px) {
  .home-section {
    margin: var(--mobile-margin);
  }
}