.btn {
  padding: .5em;
  outline: 1px solid;
  background: none;
  border-radius: 5px;
  border: none;
}

.noBorderAndOutline {
  border: none;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  color: var(--color-magenta);
}