.header {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  font-family: var(--font-inclusive-sans);
  display: flex;
  padding-left: 1rem;
  align-items: center;
  gap: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}