.card {
  display: flex;
  background-color: var(--color-old-lace);
  border-radius: 1rem;
  -webkit-box-shadow: 1px 10px 26px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 10px 26px -4px rgba(0,0,0,0.75);
  box-shadow: 1px 10px 26px -4px rgba(0,0,0,0.75);
}